* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: default;
}
body {
  background-color: rgb(0, 0, 0);
}

/* HEADER */

#navContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}
#navbar {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}
.element:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.1s;
}
.element {
  font-size: 20px;
  opacity: 0.6;
  text-decoration: none;
  border-bottom: 0.5px solid transparent;
  color: white;
  z-index: 10;
}
.noneNav {
  display: none;
}

/*Redes sociales nav */

.redes {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.red {
  height: 30px;
  opacity: 0.8;
}
.red:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
  transition: all 0.2s;
}

/* Boton apra abrir nav */

.prov {
  margin-top: 3px;
  font-size: 12px;
  opacity: 0.6;
}
.pais {
  margin-top: 3px;
  font-size: 12px;
  opacity: 0.6;
}

#btnNav {
  position: absolute;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  top: 10px;
  z-index: 10;
}
.navBtn {
  height: 20px;
  transition: rotate 0.5s;
}
.navBtn:hover {
  cursor: pointer;
}

/* MAIN */

.none {
  display: none;
}

#main {
  width: 100vw;
  height: 100vh;
  transition: filter 0.8s;
}

/* Modal que cubre la pantalla al abrir el menu */

#mod {
  background-color: rgb(0, 0, 0);
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
  z-index: 10;
}

/* REDES MAIN */
.abs {
  position: absolute;
  bottom: 10px;
}
#redesCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* SECCIONES */
.section {
  height: 100%;
  width: 100%;
}

/* CONTENIDO SECCION 0 */

/* #section-0 {
  background-image: url(../images/DSC02320\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */
.contenedor0 {
  background-image: url(../images/DSC02320\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(0px);
  transition: filter .5s;
}
.button {
  position: relative;
  top: 10%;
  display: inline-block;
  border: none;
  background: rgb(208, 0, 0);
  color: white;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}

.button:hover {
  background-color: #ff5454;
}

.button:active {
  background-color: #7d0000;
}
.formContainer{
  position: relative;
  bottom: 85%;
}
#modForm2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 50%;
  opacity: 1;
  transition: opacity .5s;
}

.exit{
  position: absolute;
  top: -50px;
  cursor: pointer;
}

/* .video {
  position: fixed;
  right: -100;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 110%;
  height: 120%;
  z-index: -1;
} */
#logoMain {
  height: 10%;
}
#tittleMain {
  color: white;
  font-size: 35px;
}
.year{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  opacity: .6;
}

/* CONTENIDO SECCION 1 */

#section-1 {
  background-image: url(../images/DSC02364\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.pres {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.pres > p {
  width: 50%;
  text-align: center;
  font-size: 16px;
}
/* CONTENIDO SECCION 2 */

#section-2 {
  background-size: 100%;
  background-position-y: -40px;
  background-position-x: 0px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.borr{
  position: fixed;
  height: 200%;
  width: 210%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(20px);
}

/* FORMULARIO */
#formC {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 70px;
}
.err {
  color: red;
  transition: 0.5s;
}
.pass {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

#formC {
  gap: 20px;
}
#label {
  font-size: 26px;
}
.inp {
  cursor: text;
  background-color: transparent;
  border: none;
  border: solid 0.5px rgba(255, 255, 255, 0.2);
  width: 300px;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
}
.inp::placeholder {
  font-size: 10px;
  text-align: center;
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.div1 > p {
  opacity: 0.5;
  font-size: 14px;
}

.errForm1{
  color: red;
  font-size: 13px;
  position: absolute;
  bottom: 200px;
  opacity: 0px;
  transition: opacity .5s;
}
.errForm2{
  color: red;
  font-size: 13px;
  position: absolute;
  bottom: -50px;
  opacity: 0px;
  transition: opacity .5s;
}
/* CONTENIDO SECCION 3 */

#section-3 {
  background-image: url(../images/DSC02305\ 1.jpg);
  background-size: 100%;
  background-position-y: -250px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.cont {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1150px) {
  .video{
    height: 500px;
    width: 900px;
  }
}
@media (max-width: 950px) {
  .video{
    height: 400px;
    width: 700px;
  }
}
@media (max-width: 750px) {
  .video{
    height: 300px;
    width: 500px;
  }
}

.audioC {
  position: relative;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -200px;
}

@media (max-width: 900px) {
  .redes {
    gap: 20px;
  }
  .pres > p {
    width: 70%;
  }
}
