* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: default;
}
body {
  background-color: rgb(0, 0, 0);
}

/* HEADER */

#navContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}
#navbar {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}
.element:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.1s;
}
.element {
  font-size: 20px;
  opacity: 0.6;
  text-decoration: none;
  border-bottom: 0.5px solid transparent;
  color: white;
  z-index: 10;
}
.noneNav {
  display: none;
}

/*Redes sociales nav */

.redes {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.red {
  width: 25px;
  opacity: 0.8;
  transition: transform 0.2s;
}
.red:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
  transition: all 0.2s;
}

/* Boton apra abrir nav */

.prov {
  margin-top: 3px;
  font-size: 12px;
  opacity: 0.6;
}
.pais {
  margin-top: 3px;
  font-size: 12px;
  opacity: 0.6;
}

#btnNav {
  position: absolute;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  z-index: 10;
}
.navBtn {
  height: 20px;
  transition: rotate 0.5s;
}
.navBtn:hover {
  cursor: pointer;
}

/* MAIN */

.none {
  display: none;
}

#main {
  width: 100vw;
  height: 100vh;
  transition: filter 0.8s;
}

/* Modal que cubre la pantalla al abrir el menu */

#mod {
  background-color: rgb(0, 0, 0);
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
  z-index: 10;
}

/* REDES MAIN */

#redesCont {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  gap: 15px;
}

/* SECCIONES */
.section {
  height: 100%;
  width: 100%;
}

/* CONTENIDO SECCION 0 */

/* #section-0 {
  background-image: url(../images/DSC02320\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */
.contenedor0 {
  background-image: url(../images/DSC02320\ 1.jpg);
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(0px);
  transition: filter 0.5s;
}
.button {
  position: relative;
  top: 10%;
  display: inline-block;
  border: none;
  background: rgb(208, 0, 0);
  color: white;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}

.button:hover {
  background-color: #ff5454;
}

.button:active {
  background-color: #7d0000;
}
.formContainer {
  position: relative;
  bottom: 85%;
}
#modForm2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 50%;
  opacity: 1;
  transition: opacity 0.5s;
}

.exit {
  position: absolute;
  top: -50px;
  cursor: pointer;
}

#logoMain {
  height: 10%;
}
#tittleMain {
  color: white;
  font-size: 35px;
}
.year {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  opacity: 0.6;
}
.youtube {
  cursor: pointer;
  text-decoration: none;
}
.audio1 {
  z-index: 10;
}
#rec {
  font-size: 13px;
  display: flex;
  padding-left: 10px;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 15%;
  opacity: 0.6;
  left: -250px;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.295);
  transition: left 0.5s;
  gap: 8px;
  transition: opacity 0.5s;
  cursor: pointer;
}
#rec > a {
  text-decoration: none;
  cursor: pointer;
}
#rec > a > p {
  cursor: pointer;
}

#arrow {
  text-decoration: none;
  cursor: pointer;
}
#rec1 {
  font-size: 13px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 15%;
  opacity: 0.6;
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.295);
  transition: right 0.5s;
  transition: opacity 0.5s;
  gap: 8px;
}

#rec:hover {
  opacity: 1;
  transition: 0.5s;
}
#rec1:hover {
  opacity: 1;
  transition: 0.5s;
}
#descarga {
  text-decoration: none;
  cursor: pointer;
}
#arrowInv {
  rotate: 180deg;
}
.giro {
  rotate: 180deg;
  transition: 0.5s;
}

#arrow {
  rotate: 0;
  transition: 0.5s;
}
/* CONTENIDO SECCION 1 */

#section-1 {
  position: fixed;
  background-image: url(../images/DSC02364\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.pres {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.pres > p {
  width: 50%;
  text-align: center;
  font-size: 16px;
}
/* CONTENIDO SECCION 2 */

#section-2 {
  background-size: 100%;
  background-position-y: -40px;
  background-position-x: 0px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.borr {
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(60px);
}

/* FORMULARIO */
#formC {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
  gap: 20px;
}
.err {
  color: red;
  transition: 0.5s;
}
.pass {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

#label {
  font-size: 22px;
}
.inp {
  cursor: text;
  background-color: transparent;
  border: none;
  border: solid 0.5px rgba(255, 255, 255, 0.2);
  width: 27%;
  height: 20px;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
}
#inpMsj{
  height: 30%;
}
.inp::placeholder {
  font-size: 12px;
  text-align: center;
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 2%;
}
.div1 > p {
  opacity: 0.5;
  font-size: 14px;
}

.errForm1 {
  color: red;
  font-size: 13px;
  position: absolute;
  bottom: 200px;
  opacity: 0px;
  transition: opacity 0.5s;
}
/* CONTENIDO SECCION 3 */

#section-3 {
  background-image: url(../images/DSC02305\ 1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}

.imgCarousel{
  width: 35%;
}

#carousel{
  position: relative;
  top: 200px;
  bottom: 200px;
}
